// ==========================================================

// 320 and Up
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

// .site {
//     max-width: 1170px;
//     margin:0 auto;
// }

/* 1170 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================

//========================
// Locations Page
//========================
.location-list {
    max-width: 1140px;
}

//========================
// Services Page
//========================
.service-list {
    max-width: 1140px;
}

//========================
// Providers Page
//========================
.provider-list {
    max-width: 1100px;
}


// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================
